GLADIA_API_KEY=gladia-api-key
AUDIO_DEVICE=default  # Appareil audio à utiliser (laisser vide pour utiliser le défaut selon l'OS)
TEST_MODE=true  # Active le mode test (écriture dans un fichier)
OUTPUT_FILE=test_output.wav  # Nom du fichier de sortie
